/* Navbar component styling */
.navbar_container {
    @apply sticky z-20 flex justify-between items-center h-20 text-lg bg-color-primary-light overflow-hidden;
}

.navbar_link__wrapper {
    @apply pr-8 md:flex md:gap-x-8 hidden text-xl font-medium;
}

.navbar_link {
    @apply relative py-4 cursor-pointer;
}

.navbar_link::after {
    @apply absolute bottom-2 left-0 w-0 h-0.5 opacity-0 bg-color-font-default;
    content: '';
    transition: opacity 0.2s ease, width 0.2s ease;
}

.navbar_link:hover::after {
    @apply w-full opacity-100;
}

.navbar_container__mobile {
    @apply z-10 absolute w-full h-screen text-2xl font-medium bg-color-primary-light shadow-lg;
}

.menu_toggle__wrapper {
    @apply px-4 cursor-pointer md:hidden;
}

.btn_menu__toggle {
    @apply relative w-10 h-10 focus:outline-none;
}

.btn_menu__toggle .icon_wrapper {
    @apply block w-5 absolute left-1/2 top-1/2;
    transform: translateX(-50%) translateY(-50%);
}

.icon_wrapper .icon_hmbrgr__line {
    @apply block absolute h-0.5 w-5 bg-color-font-default transform transition duration-500 ease-in-out rounded-sm; 
}

.icon_hmbrgr__line.line_top {
    @apply -translate-y-1.5;
}

.icon_hmbrgr__line.line_top.line_top__open {
    @apply rotate-45 translate-y-0;
}

.icon_hmbrgr__line.line_bottom {
    @apply translate-y-1.5;
}

.icon_hmbrgr__line.line_bottom.line_bottom__open {
    @apply -rotate-45 translate-y-0;
}

.navbar_link__mobile {
    @apply block py-2 px-6 text-center cursor-pointer;
}

.navbar_link__mobile:active {
    @apply bg-color-primary-dark text-white;
}