@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML */
html {
    background-color: theme('colors.bg-color');
}

/* NAVBAR */
.navbar-link {
    position: relative;
}

.navbar-link::after {
    position: absolute;
    content: '';
    bottom: 8px;
    left: 0;
    width: 0%;
    height: 2px;
    opacity: 0;
    background-color: theme('colors.color-font-default');
    transition: opacity 0.2s ease, width 0.2s ease;
}

.navbar-link:hover::after {
    width: 100%;
    opacity: 1;
}

/* HERO */
.heroheader {
    position: relative;
    border-radius: 0 0 50% 50%;
}

.heroheader:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 70%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(/src/images/avatar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    pointer-events: none;
}

/* SECTION */
.section-header {
    @apply font-space-grotesk font-semibold text-2xl md:text-4xl pb-12;
}

.section-content.about,
.section-content.experience,
.section-content.skills {
    @apply m-auto h-auto items-center md:p-20 p-12 overflow-hidden;
    max-width: 1440px;
}

.section-content.experience {
    @apply bg-color-secondary-light;
}

/* SKILLS */
.skills-filters {
    @apply flex flex-wrap gap-4 pb-12;
}

.filter-item {
    @apply relative cursor-pointer rounded-full bg-white;
    border: 2px solid theme('colors.color-font-detail');
    padding: 0.5rem 1rem 0.5rem 3rem;
}

.filter-item.filter-item--active {
    border-color: theme('colors.color-primary');
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 3rem;
}

.skill {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-column-gap: 1rem;
    align-items: center;
}

.skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: theme('colors.white');
    border-radius: 1rem;
    box-shadow: 0px 2px 28px 0px rgba(197, 197, 197, 0.25);
    padding: 1rem;
}

.skill-icon img {
    width: 48px;
    height: 48px;
    object-fit: scale-down;
}

/* EXPERIENCE */
.experience-container {
    @apply flex flex-col gap-y-16 px-6 py-4;
}

.experience-item {
    @apply w-full;
}

.experience-item .experience-item--header{
    @apply pb-4;
    border-bottom: 1px solid theme('colors.color-font-detail');
}

.experience-item .experience-item--header span {
    @apply text-color-font-detail;
}

.experience-item .experience-item--header h2 {
    @apply font-semibold text-xl;
}

.experience-item .experience-item--list {
    @apply pt-4 pl-4 list-disc;
}

.experience-item .experience-item--list li:not(:first-of-type) {
    @apply mt-2;
}
